body{
    background-color: rgb(26, 11, 240);
display: flex;
height: 20px;
width: 390px;
}
*{
margin: 0px;
nav{
background-color: #44d30b;
display: flex;
margin-top: auto;
}
p:nth-child(1){
background: #999999;
}
p:nth-child(2){
background: #e4fc0b;
}
p:nth-child(3){
    background: #44d30b;
    }

    p:nth-child(4){
        background: #eb9393;
        }
